*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body{
    background-color:plum;
}

nav{
    background-color:darkmagenta;
    /*height: 48px;*/
    overflow: auto;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

nav ul{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    display: block;
    padding: 20px;
    float: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover{
    background-color: darkviolet;
}

.principal{
    background-color: magenta;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

h1{
    padding: 5px;
    padding-left: 30px;
    display: inline-block;
    font-size: 50px;
    color: white;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.principal a{
    padding: 40px;
    float: right;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    }

.principal a:hover{
    background-color: cyan;
    color: darkmagenta;
 
}

h3{
    padding: 15px;
    color: darkmagenta;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}